

.nav-link {
  color: #457b9d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-link:hover {
  color: #457b9d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-link-text:hover {
  text-shadow: 2px 2px 4px #f1faee;
  display: inline-block;
  animation: navPulse 1.5s linear infinite;
}

.nav-link.active .nav-link-text {
  animation: none;
}

@keyframes navPulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}