/* 
.navbar {
  background-color: #f1faee;
} */

.nav-link {
  color: #457b9d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-link:hover {
  color: #457b9d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.navbar-toggler-icon {
  background-color: #f1faee;
}

.nav-link-text:hover {
  text-shadow: 2px 2px 4px #f1faee;
  display: inline-block;
  animation: navPulse 1.5s linear infinite;
}

.nav-link.active .nav-link-text {
  animation: none;
}

.navbar-collapse {
  max-height: calc(100vh - 78px);
  transition: max-height 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .navbar-collapse {
    position: absolute;
    top: 78px;
  }
}

@keyframes navPulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
