footer {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1faee;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }

  .icon {
    font-size: 2.5rem;
}

#twitterIcon {
  position: relative;
  top: 5px;
  font-size: 2.5rem;
}

.github-icon {
  color: black;
}

.instagram-icon {
  color: #b31c28;
}


/* .social-icons {
  gap: 20px;
} */


  footer p {
    color: #457b9d;
  }
